console.log("create_itinerary_city.js.erb");
console.log('itinerary_city :', <%= @itinerary_city.id %>);

// deleteBox = document.querySelector(".city-delete-id-<%= @itinerary_city.city_id %>");
// console.log(deleteBox);
// deleteBox.innerHTML = '<a id="city-delete-id-<%= @itinerary_city.city_id %>" class="city-toggler-delete" data-lat="<%= @itinerary_city.city.latitude %>" data-lng="<%= @itinerary_city.city.longitude %>" data-remote="true" rel="nofollow" data-method="delete" href="/itinerary_cities/<%= @itinerary_city.id %>">delete</a>';
