<div class="container-fluid">
  <%= render 'shared/recap-bar' %>
  <div class="row m-2">
    <div class="col-12 col-sm-7">
      <% @itineraries.reverse.each do |itinerary| %>
      <div class="mr-3 mb-3" >
        <div class="card main-card card<%= itinerary.id %>" data-carousel="slider-<%= itinerary.id %>">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-end">
                <div class="border-0 mr-3">
                  <p class="font-weight-bold lead m-0"><%= itinerary.title %></p>
                </div>
                <div id="shared-by" class="m-0" style="padding-bottom: 1px;"><em>shared by&nbsp;<%= link_to itinerary.user.first_name.capitalize, user_path(itinerary.user), class: "text-muted" %></em></div>
              </div>
              <%#= link_to "", "#{bookmarks_path}?query=create&itinerary=#{itinerary.id}", method: :get, class: 'far fa-bookmark bookmark-icon' %>
              <%# bookmark = Bookmark.find_by(user: current_user, itinerary: itinerary) %>
              <div id="bookmark-show-true-<%= itinerary.id %>">
                <%#= link_to raw('<i class="fas fa-star"></i>'), "#{itinerary_path(@itinerary)}", remote: true, method: :get, class: 'btn' %>
                <%= link_to raw('<i class="fas fa-star"></i>'), itinerary_bookmarks_path(itinerary), remote: true, method: :patch, class: 'btn' %>
              </div>
              <div id="bookmark-show-false-<%= itinerary.id %>">
                <%= link_to raw('<i class="far fa-star"></i>'), itinerary_bookmarks_path(itinerary), remote: true, method: :patch, class: 'btn' %>
              </div>
            </div>
            <p class="font-weight-normal"><%= itinerary.description %></p>
            <div class= "d-flex justify-content-between align-items-end">
              <div>
                <div class="d-flex justify-content-start h-25 mb-2"><span></span><p class="input"><%= itinerary.days %> days</p></div>
                <div class="d-flex justify-content-start h-25 mb-2"><span></span><p class="input">$<%= itinerary.budget %></p></div>
                <div class="d-flex justify-content-start h-25 mb-2"><span class="card-rating-icon"></span><p class="input"><i class="fas fa-star"></i> 4.2</p></div>
              </div>
              <div>
                <button class="button">
                <%= simple_form_for(@new_itinerary) do |f| %>
                  <%#= hidden_field_tag :id, value: itinerary.id %>
                  <%= f.hidden_field :id, value: itinerary.id %>
                  <%= f.hidden_field :experience, value: params[:search][:experience] %>
                  <%= f.hidden_field :country, value: params[:search][:country] %>
                  <%= f.hidden_field :budget, value: params[:search][:budget] %>
                  <%= f.hidden_field :days, value: params[:search][:days] %>
                  <%= f.submit "Build your adventure" %>
                <% end %>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-5 mb-2">
      <% @itineraries.each do |itinerary| %>
        <%= render 'shared/itinerary-carousel', itinerary: itinerary %>
      <% end %>
    </div>

  </div>
</div>
<!-- ###################################################################################### -->
<div class="container-fluid d-none">
  <h1>Itineraries#new</h1>
  <p>Find me in app/views/itineraries/new.html.erb</p>
  <hr>
  <% params_str = "utf8=✓&" %>
  <% params[:search].each do |key, value| %>
    <% params_str += "search%5B#{key}%5D=#{value}&" %>
  <% end %>
  <% params_str += "commit=Create+Search" %>
  <% @itineraries.reverse.each do |itinerary| %>
    <%# next if itinerary.id == 1 %>
    <div class="card" style="width: 18rem;">
      <img src="#" class="card-img-top" alt="image">
      <div class="card-body">
        <h5 class="card-title">Card with stretched link <%= itinerary.id %></h5>
        <div class="card-text">
          <ul class="list-unstyled">
            <li><%= itinerary.cities.first.name if itinerary.cities.size.positive? %></li>
            <li><%= itinerary.spots.first.title if itinerary.spots.size.positive? %></li>
          </ul>
        </div>
        <!-- <a href="#" class="btn btn-primary stretched-link">Go somewhere</a> -->
        <div class="d-flex justify-content-between">
          <%= simple_form_for(@new_itinerary) do |f| %>
            <%#= hidden_field_tag :id, value: itinerary.id %>
            <%= f.hidden_field :id, value: itinerary.id %>
            <%= f.hidden_field :experience, value: params[:search][:experience] %>
            <%= f.hidden_field :country, value: params[:search][:country] %>
            <%= f.hidden_field :budget, value: params[:search][:budget] %>
            <%= f.hidden_field :days, value: params[:search][:days] %>
            <%= f.submit "submit", class: "btn btn-info" %>
          <% end %>
          <%# raise %>
          <% if itinerary.bookmark %>
            <div id="bookmark-delete-id-<%= itinerary.id %>">
              <%= link_to raw("<i class=\"fas fa-star\"></i>"), "#{new_itinerary_path}?#{params_str}&query=delete&itinerary=#{itinerary.id}", remote: true, method: :get, class: 'btn' %>
            </div>
            <div id="bookmark-create-id-<%= itinerary.id %>">
              <%= link_to raw("<i class=\"far fa-star\"></i>"), "#{new_itinerary_path}?#{params_str}&query=create&itinerary=#{itinerary.id}", remote: true, method: :get, class: 'btn' %>
            </div>
            <script type="text/javascript">
              elementTrue = document.querySelector('<%= "#bookmark-create-id-#{itinerary.id}" %>');
              elementFalse = document.querySelector('<%= "#bookmark-delete-id-#{itinerary.id}" %>');
              elementTrue.style.display = 'none';
              elementFalse.style.display = 'block';
            </script>
          <% else %>
            <div id="bookmark-delete-id-<%= itinerary.id %>">
              <%= link_to raw("<i class=\"fas fa-star\"></i>"), "#{new_itinerary_path}?#{params_str}&query=delete&itinerary=#{itinerary.id}", remote: true, method: :get, class: 'btn' %>
            </div>
            <div id="bookmark-create-id-<%= itinerary.id %>">
              <%= link_to raw("<i class=\"far fa-star\"></i>"), "#{new_itinerary_path}?#{params_str}&query=create&itinerary=#{itinerary.id}", remote: true, method: :get, class: 'btn' %>
            </div>
            <script type="text/javascript">
              elementTrue = document.querySelector('<%= "#bookmark-create-id-#{itinerary.id}" %>');
              elementFalse = document.querySelector('<%= "#bookmark-delete-id-#{itinerary.id}" %>');
              elementTrue.style.display = 'block';
              elementFalse.style.display = 'none';
            </script>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<script>
  // selectionner dans mon DOM tous les elements MAIN-CARD
  cards = document.querySelectorAll(".card.main-card");

  // display first card
  document.getElementById(cards[0].dataset.carousel).classList.remove("d-none");

  // sur chacun ajouter un event listener
  cards.forEach((card) => {
    // au CLIC targeter le bon carrousel
    card.addEventListener('click', (event) => {
      // add d-none to all cards
      cards.forEach((cardi) => {
        cardi.classList.contains("d-none") ? console.log("") : document.getElementById(cardi.dataset.carousel).classList.add("d-none");
      })
      // remove la class d-none)
      document.getElementById(card.dataset.carousel).classList.remove("d-none");
    })
  })
</script>
