<%#= render "shared/banner_itinerary" %>
<div class="container py-5">
  <!-- <h1>Itineraries#show</h1> -->
  <!-- <p>Find me in app/views/itineraries/show.html.erb</p> -->
  <div class="row justify-content-end">
    <div id="bookmark">
      <% if @bookmark %>
        <div id="bookmark-show-true">
          <%#= link_to raw('<i class="fas fa-star"></i>'), "#{itinerary_path(@itinerary)}", remote: true, method: :get, class: 'btn' %>
          <%= link_to raw('<i class="fas fa-star"></i>'), "#{bookmarks_path}?id=#{@bookmark.id}&itinerary=#{@bookmark.itinerary_id}", method: :delete, remote: true, class: 'btn' %>
        </div>
        <div id="bookmark-show-false">
          <%= link_to raw('<i class="far fa-star"></i>'), "#{itinerary_path(@itinerary)}", remote: true, method: :post, class: 'btn' %>
        </div>
      <% else %>
        <div id="bookmark-show-false">
          <%= link_to raw('<i class="far fa-star"></i>'), "#{create_bookmark_path(@itinerary)}", remote: true, method: :post, class: 'btn' %>
        </div>
        <div id="bookmark-show-true">
        </div>
      <% end %>
      <script type="text/javascript">
        elementTrue = document.querySelector('#bookmark-show-true');
        elementFalse = document.querySelector('#bookmark-show-false');
        <% if @bookmark %>
          elementTrue.style.display = 'block';
          elementFalse.style.display = 'none';
          <%# raise %>
        <% else %>
          elementTrue.style.display = 'none';
          elementFalse.style.display = 'block';
        <% end %>
      </script>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <% @itinerary.cities.each do |city| %>
        <div class="row m-0 d-none">
          <p><%= city.name %></p>
          &emsp;
          <% restaurant_id = 1 %>
          <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, restaurant_id).first %>
          <p><%= str.title unless str.nil? %></p>
          <% hotel_id = 2 %>
          <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, hotel_id).first %>
          <p><%= str.title unless str.nil? %></p>
          <% activity_id = 3 %>
          <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, activity_id).first %>
          <p><%= str.title unless str.nil? %></p>
        </div>
      <% end %>

      <% itinerary_city_array = [] %>
      <% @itinerary.itinerary_cities.each do |itinerary_city| %>
        <% itinerary_city_array << itinerary_city.city %>
      <% end %>

      <%# raise %>

      <%#= @cities_names %>

      <% @cities.each do |city| %>
        <div class="row m-0">
          <% if itinerary_city_array.include?(city) %>
            <% itinerary_city = ItineraryCity.find_by("itinerary_id = ? AND city_id = ?", @itinerary.id, city.id) %>
            <%# raise %>
            <!-- Card -->
            <div id="city-id-<%= itinerary_city.city_id %>" class="card w-100 itinerary-show-city mt-3" data-itinerary-city="<%= itinerary_city.id %>" data-city="<%= itinerary_city.city_id %>">
              <!-- Cities -->
              <div class="w-100">
                <div class="d-none <%= "city-delete-id-#{city.id}" %>">
                  <%#= link_to "delete", "#{delete_itinerary_city_path(params[:id])}?itinerary_city=#{itinerary_city}", remote: true, method: :get, id: "city-delete-id-#{itinerary_city.id}", class: "city-toggler-delete", data: { lat: itinerary_city.city.latitude, lng: itinerary_city.city.longitude } %>
                  <%= link_to "delete", itinerary_city_itinerary_cities_path(@itinerary, city), remote: true, method: :patch, id: "city-delete-id-#{city.id}", class: "city-toggler-delete", data: { lat: itinerary_city.city.latitude, lng: itinerary_city.city.longitude } %>
                  <%= link_to "create", itinerary_city_itinerary_cities_path(@itinerary, city), remote: true, method: :patch, id: "city-create-id-#{city.id}", class: "city-toggler-create", data: { lat: city.latitude, lng: city.longitude } %>
                </div>
                <div class="px-3 d-flex justify-content-between align-items-center">
                  <%= link_to itinerary_city.city.name.capitalize, "#{city_path(itinerary_city.city)}?itinerary=#{@itinerary.id}", class: "text-body lead" %>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="switch-<%= itinerary_city.city_id %>">
                    <label class="custom-control-label" for="switch-<%= itinerary_city.city_id %>"></label>
                  </div>
                </div>
                <div id="city-id-<%= itinerary_city.city_id %>-details" class="itinerary-city-details">
                  <div class="p-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos sed ex vero, impedit ad placeat commodi illo, quae iure laboriosam minus recusandae voluptates facilis, earum soluta minima voluptas nobis?</p>
                    <table>
                      <tr>
                        <td class="text-center"><i class="fas fa-utensils pro-dark-blue"></i></td>
                        <td class="pl-3">text</td>
                      </tr>
                      <tr>
                        <td class="text-center"><i class="fas fa-bed pro-dark-blue"></i></td>
                        <td class="pl-3">text</td>
                      </tr>
                      <tr>
                        <td class="text-center"><i class="fas fa-binoculars pro-dark-blue"></i></td>
                        <td class="pl-3">text</td>
                      </tr>
                    </table>
                    <div class="text-right" style="margin-top: -24px;">
                      <%= link_to "See more", "#{city_path(itinerary_city.city)}?itinerary=#{@itinerary.id}", class: "text-muted" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          <% else %>
            <!-- Card -->
            <div id="city-id-<%= city.id %>" class="card city-select-none w-100 mt-3" data-itinerary-city="<%= city.id %>" data-city="<%= city.id %>">
              <div class="w-100">
                <div class="d-none">
                  <%= link_to "create", itinerary_city_itinerary_cities_path(@itinerary, city), remote: true, method: :patch, id: "city-create-id-#{city.id}", class: "city-toggler-create", data: { lat: city.latitude, lng: city.longitude } %>
                  <%= link_to "delete", itinerary_city_itinerary_cities_path(@itinerary, city), remote: true, method: :patch, id: "city-delete-id-#{city.id}", class: "city-toggler-delete", data: { lat: city.latitude, lng: city.longitude } %>
                </div>
                <div class="px-3 d-flex justify-content-between align-items-center">
                  <%= link_to city.name.capitalize, "#{city_path(city)}?itinerary=#{@itinerary.id}", class: "text-body lead" %>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="switch-<%= city.id %>">
                    <label class="custom-control-label" for="switch-<%= city.id %>"></label>
                  </div>
                </div>
                <div id="city-id-<%= city.id %>-details" class="itinerary-city-details">
                  <div class="p-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos sed ex vero, impedit ad placeat commodi illo, quae iure laboriosam minus recusandae voluptates facilis, earum soluta minima voluptas nobis?</p>
                    <table>
                      <tr>
                        <td class="text-center"><i class="fas fa-utensils pro-dark-blue"></i></td>
                        <td class="pl-3">text</td>
                      </tr>
                      <tr>
                        <td class="text-center"><i class="fas fa-bed pro-dark-blue"></i></td>
                        <td class="pl-3">text</td>
                      </tr>
                      <tr>
                        <td class="text-center"><i class="fas fa-binoculars pro-dark-blue"></i></td>
                        <td class="pl-3">text</td>
                      </tr>
                    </table>
                    <div class="text-right" style="margin-top: -24px;">
                      <%= link_to "See more", "#{city_path(city)}?itinerary=#{@itinerary.id}", class: "text-muted" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <!-- <img src="https://github.com/PierreJaouen/traseu/blob/controllers-next/public/map.png?raw=true" alt="" width="100%"> -->
      <!-- Map -->
      <div class="d-flex flex-column align-items-end sticky-top" style="top: 100px;">
        <div id="map" class="mt-3 mr-3" style="width: 100%; height: 500px;"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          data-markers="<%= @markers.to_json %>">
        </div>
        <div><i class="fas fa-file-download fa-2x" style="color:#3F3D56; margin: 1em"></i></div>
      </div>
    </div>
  </div>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.1/mapbox-gl.css' rel='stylesheet' />
