<h1>Itineraries#show</h1>
<p>Find me in app/views/itineraries/show.html.erb</p>
<hr>
<div id="bookmark">
  <div id="bookmark-show-true">
    <%= link_to raw('<i class="fas fa-star"></i>'), "#{itinerary_path(@itinerary)}?query=delete", remote: true, method: :get, class: 'btn' %>
  </div>
  <div id="bookmark-show-false">
    <%= link_to raw('<i class="far fa-star"></i>'), "#{itinerary_path(@itinerary)}?query=create", remote: true, method: :get, class: 'btn' %>
  </div>
  <script type="text/javascript">
    elementTrue = document.querySelector('#bookmark-show-true');
    elementFalse = document.querySelector('#bookmark-show-false');
    <% if @itinerary.bookmark %>
      elementTrue.style.display = 'block';
      elementFalse.style.display = 'none';
      <%# raise %>
    <% else %>
      elementTrue.style.display = 'none';
      elementFalse.style.display = 'block';
    <% end %>
  </script>
</div>

<% @itinerary.cities.each do |city| %>
  <div class="row m-0">
    <p><%= city.name %></p>
    &emsp;
    <% restaurant_id = 1 %>
    <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, restaurant_id).first %>
    <p><%= str.title unless str.nil? %></p>
    <% hotel_id = 2 %>
    <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, hotel_id).first %>
    <p><%= str.title unless str.nil? %></p>
    <% activity_id = 3 %>
    <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, activity_id).first %>
    <p><%= str.title unless str.nil? %></p>
  </div>
<% end %>

<%# @cities.each do |city| %>
  <div class="row m-0">
    <p class="text-muted"><%#= city.name %></p>
  </div>
<%# end %>
