<div class="container py-5">
  <h1>Itineraries#show</h1>
  <p>Find me in app/views/itineraries/show.html.erb</p>
  <div class="row justify-content-end">
    <div id="bookmark">
      <div id="bookmark-show-true">
        <%= link_to raw('<i class="fas fa-star"></i>'), "#{itinerary_path(@itinerary)}?query=delete", remote: true, method: :get, class: 'btn' %>
      </div>
      <div id="bookmark-show-false">
        <%= link_to raw('<i class="far fa-star"></i>'), "#{itinerary_path(@itinerary)}?query=create", remote: true, method: :get, class: 'btn' %>
      </div>
      <script type="text/javascript">
        elementTrue = document.querySelector('#bookmark-show-true');
        elementFalse = document.querySelector('#bookmark-show-false');
        <% if @itinerary.bookmark %>
          elementTrue.style.display = 'block';
          elementFalse.style.display = 'none';
          <%# raise %>
        <% else %>
          elementTrue.style.display = 'none';
          elementFalse.style.display = 'block';
        <% end %>
      </script>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <% @itinerary.cities.each do |city| %>
        <div class="row m-0 d-none">
          <p><%= city.name %></p>
          &emsp;
          <% restaurant_id = 1 %>
          <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, restaurant_id).first %>
          <p><%= str.title unless str.nil? %></p>
          <% hotel_id = 2 %>
          <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, hotel_id).first %>
          <p><%= str.title unless str.nil? %></p>
          <% activity_id = 3 %>
          <% str = @itinerary.spots.where("city_id = ? AND category_id = ?", city.id, activity_id).first %>
          <p><%= str.title unless str.nil? %></p>
        </div>
      <% end %>

      <% itinerary_city_array = [] %>
      <% @itinerary.itinerary_cities.each do |itinerary_city| %>
        <% itinerary_city_array << itinerary_city.city %>
        <div class="d-flex">
          <p class="text-success">
            <%#= itinerary_city.city.name %>
            <%= link_to itinerary_city.city.name, "#{city_path(itinerary_city.city)}?itinerary=#{@itinerary.id}", class: "text-success" %>
            </p>
          &emsp;
          <div id="city-delete-id-<%= itinerary_city.id %>">
            <%= link_to "delete", "#{itinerary_path(@itinerary)}?call=delete&itinerary_city=#{itinerary_city.id}", remote: true, method: :get %>
          </div>
        </div>
      <% end %>

      <%# raise %>

      <% @cities.each do |city| %>
        <div class="row m-0">
          <% unless itinerary_city_array.include?(city) %>
            <p class="text-danger"><%= city.name %></p>
            &emsp;
            <div id="city-create-id-<%= city.id %>">
              <%= link_to "create", "#{itinerary_path(@itinerary)}?call=create&city=#{city.id}", remote: true, method: :get %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <!-- <img src="https://github.com/PierreJaouen/traseu/blob/controllers-next/public/map.png?raw=true" alt="" width="100%"> -->
      <!-- Map -->
      <div class="d-flex flex-column align-items-end">
        <div id="map" class="mt-3 mr-3" style="width: 100%; height: 500px;"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          data-markers="<%= @markers.to_json %>">
        </div>
        <div><i class="fas fa-file-download fa-2x" style="color:#3F3D56; margin: 1em"></i></div>
      </div>
    </div>
  </div>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.1/mapbox-gl.css' rel='stylesheet' />
