<div class="thumb-slider sticky-carousel d-none" id="slider-<%= itinerary.id %>">
  <div id="myCarousel-<%= itinerary.id %>" class="carousel slide shadow">
      <!-- main slider carousel items -->
    <div class="carousel-inner">
      <div class="active carousel-item" data-slide-number="0">
        <img src="https://source.unsplash.com/random?cusco?#{rand}" class="thumb-inner img-fluid">
      </div>
      <div class="carousel-item" data-slide-number="1">
        <img src="https://source.unsplash.com/random?iquitos?#{rand}" class="thumb-inner img-fluid">
      </div>
      <div class="carousel-item" data-slide-number="2">
        <img src="https://source.unsplash.com/random?cusco?#{rand}" class="thumb-inner img-fluid">
      </div>
    </div>
      <!-- main slider carousel nav controls -->

    <div class="d-flex justify-content-center">
      <ul class="carousel-indicators list-inline">
        <li class="list-inline-item active">
          <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel-<%= itinerary.id %>">
            <img src="https://source.unsplash.com/random??#{rand}" class=" thumb img-fluid">
          </a>
        </li>
        <li class="list-inline-item">
          <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel-<%= itinerary.id %>">
            <img src="https://source.unsplash.com/random?lima?#{rand}" class="thumb img-fluid">
          </a>
        </li>
        <li class="list-inline-item">
          <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel-<%= itinerary.id %>">
            <img src="https://source.unsplash.com/random?cusco?#{rand}" class="thumb img-fluid">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
