<div class ="container py-2">
  <div class="row justify-content-center py-5 text-dark">
    <h1>Party with locals in Peru</h1>
  </div>

 <div class="row justify-content-center text-dark">
    <table class="table table-hover border bg-light font-weight-light">
    <thead>
      <tr>
        <th scope="col-sm text-center " style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560463/TRASEU/Sophie%20user%20-%20pages/day.jpg)"> Day</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560463/TRASEU/Sophie%20user%20-%20pages/city.jpg)"> City</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560574/TRASEU/Sophie%20user%20-%20pages/Activity.jpg)"> Activity</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560490/TRASEU/Sophie%20user%20-%20pages/eat.jpg)"> Eat</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560607/TRASEU/Sophie%20user%20-%20pages/sleep.jpg)"> Sleep</div>
        </th>

      </tr>
      </thead>
      <tbody>
        <% count = 0 %>
        <!-- lima -->
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Lima</td>
          <td class="px-0 pl-4">Bicycle tour – Miraflores</td>
          <td class="px-0 pl-4">Nuevo Mundo Bar</td>
          <td class="px-0 pl-4">Loki hostel</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Lima</td>
          <td class="px-0 pl-4">Surf Day Trip</td>
          <td class="px-0 pl-4">Estadio Restaurant</td>
          <td class="px-0 pl-4">Loki Hostel</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Lima</td>
          <td class="px-0 pl-4">Pub crawl - miraflores</td>
          <td class="px-0 pl-4">La basilica restaurant</td>
          <td class="px-0 pl-4">Loki Hostel</td>
        </tr>
        <!-- arequipa -->
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Arequipa</td>
          <td class="px-0 pl-4">One day trekking colca</td>
          <td class="px-0 pl-4">Alma bar restaurant</td>
          <td class="px-0 pl-4">Mb Hostel Arequipa</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Arequipa</td>
          <td class="px-0 pl-4">Qochamama party</td>
          <td class="px-0 pl-4">Hatumpa</td>
          <td class="px-0 pl-4">Mb Hostel Arequipa</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Arequipa</td>
          <td class="px-0 pl-4">Peruvian dance at casona</td>
          <td class="px-0 pl-4">El tio dario</td>
          <td class="px-0 pl-4">Mb hostel Arequipa</td>
        </tr>
        <!-- puno -->
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Puno</td>
          <td class="px-0 pl-4">Fishing in Titicaca</td>
          <td class="px-0 pl-4">Inca bar</td>
          <td class="px-0 pl-4">Sol plaza hotel</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Puno</td>
          <td class="px-0 pl-4">Boat tour Titicaca</td>
          <td class="px-0 pl-4">La table del inca</td>
          <td class="px-0 pl-4">Sol plaza hotel</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Puno</td>
          <td class="px-0 pl-4">Visit of the isla de la Luna</td>
          <td class="px-0 pl-4">Mojsa restaurant</td>
          <td class="px-0 pl-4">Sol plaza hotel</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Puno</td>
          <td class="px-0 pl-4">Jirón Lima Tour</td>
          <td class="px-0 pl-4">Los Uros</td>
          <td class="px-0 pl-4">Sol plaza hotel</td>
        </tr>
        <!-- cuzco -->
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Cuzco</td>
          <td class="px-0 pl-4">Pisco Cuzco Tour</td>
          <td class="px-0 pl-4">Hanz Craft Beer</td>
          <td class="px-0 pl-4">Wild Rover Hostel</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Cuzco</td>
          <td class="px-0 pl-4">Salkenta Trail</td>
          <td class="px-0 pl-4">Indigo Bar Restaurant</td>
          <td class="px-0 pl-4">Wild Rover Hostel</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Cuzco</td>
          <td class="px-0 pl-4">Discovery of the Inca Valley</td>
          <td class="px-0 pl-4">Republica del Pisco</td>
          <td class="px-0 pl-4">Wild Rover Hostel</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Cuzco</td>
          <td class="px-0 pl-4">1 Day Trip Atv</td>
          <td class="px-0 pl-4">Indigo Bar Restaurant</td>
          <td class="px-0 pl-4">Wild Rover Hostel</td>
        </tr>
        <!-- lima back -->
        <tr>
          <th scope="row" class="text-center"><%= count += 1 %></th>
          <td class="text-center">Lima</td>
          <td class="px-0 pl-4">Peruvian folklore!</td>
          <td class="px-0 pl-4">Estadio Restaurant</td>
          <td class="px-0 pl-4">Loki Hostel</td>
        </tr>
      </tbody>
    </table>
    <a href="javascript:window.print()" class="my-5" style="text-decoration: none;"><div class="button d-print-none d-flex justify-content-between align-items-center">Print Calendar &nbsp;<i class ="fas fa-print fa-2x align"></i></div></a>
  </div>
</div>












