 <%= render "shared/banner_cities_show" %>
<div class="container-fluid m-2">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="my-4">Top restaurants</h3>
    <div class="mr-5"><%= link_to "Back to itinerary", itinerary_path(params[:itinerary]), class: "text-dark"%></div>
  </div>
  <div class="row my-2">
    <% @restaurants.each do |restaurant| %>
      <div class="city-card m-2">
        <p class="card-price"><%= restaurant.range %></p>
        <div class="image">
          <%= image_tag restaurant.image %>
        </div>
        <div class="text">
          <div class="fabbutton">&#43;</div>
          <h3 class="card-title"><%= restaurant.title %></h3>
          <p class="card-address"><%= restaurant.address %></p>
          <p class="card-description"><%= restaurant.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <h3 class="my-4">Top Activities</h3>
  <div class="row my-2">
    <% @activities.each do |activity| %>
      <div class="city-card m-2">
        <p class="card-price"> $<%= activity.price %></p>
        <div class="image">
          <%= image_tag activity.image %>
        </div>
        <div class="text">
          <div class="fabbutton">&#43;</div>
          <h3 class="card-title"><%= activity.title %></h3>
          <div class="d-flex justify-content-between pt-2">
            <p class="card-description"><%= activity.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h3 class="my-4">Top Hotels</h3>
  <div class="row my-2">
    <% @hotels.each do |hotel| %>
      <div class="city-card m-2">
        <p class="card-price">$<%= hotel.price %></p>
        <div class="image">
          <%= image_tag hotel.image %>
        </div>
        <div class="text">
          <div class="fabbutton">&#43;</div>
            <h3 class="card-title"><%= hotel.title %></h3>
            <p class="card-address"><%= hotel.address %></p>
            <div class="d-flex justify-content-between pt-2">
            <p class="card-description"><%= hotel.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
